@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.wrapper {
  max-width: 850px;
  padding: 0 50px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: space-between;
}