@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #e5e5e5;
}

.wrapper {
  box-sizing: border-box;
  max-width: 850px;
  padding: 0 48px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}