.btn {
  text-transform: uppercase;
  padding: 14px 14px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  background-color: white;
  border: 0;

  &--sort {
    width: 166px;
  }

  &--big {
    width: 100%;
    color: white;
    background-color: #2196F3;
    border-radius: 5px;
  }
}

